
@keyframes fadeInMoveLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadeOutMoveRight {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes setCursorOnFirstPosition {
    0% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(-34%);
    }
}

@keyframes setCursorOnFirstPosition2 {
    0% {
        transform: translateX(29%);
    }
    100% {
        transform: translateX(-34%);
    }
}

@keyframes setCursorOnSecondPosition {
    0% {
        transform: translateX(-34%);
    }
    100% {
        transform: translateX(-2%);
    }
}

@keyframes setCursorOnSecondPosition2 {
    0% {
        transform: translateX(29%);
    }
    100% {
        transform: translateX(-2%);
    }
}

@keyframes setCursorOnThirdPosition {
    0% {
        transform: translateX(-34%);
    }
    100% {
        transform: translateX(29%);
    }
}

@keyframes setCursorOnThirdPosition2 {
    0% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(29%);
    }
}

@keyframes setFirstSlideActive {
    0% {
        transform: translateX(-103%);
    }
    100% {
        transform: translateX(3%);
    }
}

@keyframes setSecondSlideActive {
    0% {
        transform: translateX(-103%);
    }
    100% {
        transform: translateX(3%);
    }
}

@keyframes setSecondSlideActive2 {
    0% {
        transform: translateX(103%);
    }
    100% {
        transform: translateX(3%);
    }
}

@keyframes setThirdSlideActive {
    0% {
        transform: translateX(103%);
    }
    100% {
        transform: translateX(3%);
    }
}

@keyframes setSlideInactiveLeft {
    0% {
        transform: translateX(3%);
    }
    100% {
        transform: translateX(-130%);
    }
}

@keyframes setSlideInactiveRight {
    0% {
        transform: translateX(3%);
    }
    100% {
        transform: translateX(130%);
    }
}

@keyframes flee {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes heartRotateRight {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes heartScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes heartFastOpacity {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0.4;
    }
    15% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@keyframes heartOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes myOrbit {
    0% {
        transform: rotate(0deg) translateX(0px) rotate(0deg);
        opacity: 0;
    }
    5% {
        opacity: 0.4;
    }
    15% {
        opacity: 0.7;
    }
    100% {
        transform: rotate(360deg) translateX(60px) rotate(-360deg);
        opacity: 1;
    }
}
